{% extends "base.html" %}

{% block title %}album | About Us{% endblock %}

{% block body %}
<div class="container pt-3 mt-3 mb-3">
    <div class="card mb-3">
        <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap" width="250" height="400">
        <div class="card-body">
          <h5 class="card-title">Album Team</h5>
          <p class="card-text">So how did the classical Latin become so incoherent? According to McClintock, a 15th century typesetter likely scrambled part of Cicero's De Finibus in order to provide placeholder text to mockup various fonts for a type specimen book</p>
          <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
        </div>
      </div>
</div>
{% endblock %}